---
import Layout from "../layout/Layout.astro";
---

<Layout title="About">
  <h1 class="text-[#802f6e] font-bold text-[28px]">About Page</h1>
  <p class="my-6">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, placeat
    repellat! Nam, hic! Unde modi laudantium neque praesentium inventore beatae
    optio corrupti hic quam? Cumque dicta atque odio quas, eos est dolorum porro
    eveniet ut blanditiis, illum, voluptatem dolores? Quia quaerat minus vel
    beatae nihil unde quo quae, quidem, numquam nulla praesentium provident
    ipsum totam delectus maiores minima, pariatur sapiente eius ut adipisci.
    Similique itaque illo quibusdam quis debitis eum natus fuga, ab delectus
    possimus quo harum, velit, optio fugit minima. Quis eius nihil quod quisquam
    consequuntur iure minus nemo odio possimus, hic nobis rem aliquid sunt omnis
    praesentium repellat asperiores deleniti earum corrupti fugit ab totam
    reprehenderit! In provident unde sequi facilis nihil saepe perferendis
    fugiat aut similique, ad iste quasi eaque consequatur deleniti dolorem.
    Commodi obcaecati quae nisi dicta hic saepe modi amet illum voluptatum
    ducimus! Dolorem veritatis sapiente debitis mollitia temporibus. Minus
    tempore ratione fuga voluptatibus, numquam, nihil aut voluptate iusto
    excepturi deleniti placeat. Fugit deserunt error voluptates aspernatur fuga
    quisquam suscipit sequi accusamus numquam facere ut ipsam perspiciatis
    illum, officiis voluptate neque labore ea sunt quidem voluptatum dignissimos
    porro. Deserunt, nulla quia iure illo aut, voluptatibus corporis debitis
    iusto modi, repellendus nesciunt dicta? Qui debitis aspernatur iste, optio
    magnam obcaecati illum. Eveniet aspernatur adipisci dolore harum provident
    sit cum numquam animi quas fugit dolor nesciunt facere beatae error saepe
    id, vel totam in deleniti tenetur veniam perferendis ipsum aliquam
    dignissimos? Soluta ea nisi non pariatur accusamus, neque sequi quisquam
    quidem qui vitae molestiae suscipit eligendi itaque obcaecati voluptate
    rerum atque enim facere assumenda esse voluptas aspernatur libero ut ex.
    Sunt qui voluptatem rerum necessitatibus, delectus sint doloremque aliquam
    fugiat ad culpa repellat ipsa libero ducimus minima voluptatum error neque
    illo doloribus distinctio asperiores est? Error aliquam id architecto
    voluptates ipsa perspiciatis accusantium inventore iste, veniam, libero
    consequuntur quibusdam, voluptatum esse perferendis itaque magni repellat
    distinctio labore repellendus fugiat quaerat unde!
  </p>
</Layout>

<style lang="scss">
  h1 {
    color: #802f6e;
  }
</style>
